<%- include('partials/head') %>
<%- include('partials/nav') %>

<div class="justify-content-center m-4">
    <h1 class="text-center">404 Error: Page Does Not Exist</h1>
    <p class="text-center"><a href="/">Return Home</a></p>
</div>

    <%- include('partials/foot') %>
