<%- include('partials/head') %> <%- include('partials/nav') %>

<div class="container mx-auto p-5 m-5 w-50">
  <p class="h1 text-center">Welcome!</p>
  <p class="text-center">
    We're happy to help facilitate your dog adoption journey. <br />
    Please <a href="/login">login</a> or
    <a href="/signup">create an account</a> to begin.
  </p>
</div>

<%- include('partials/foot') %>
