<%- include('partials/head') %>
<%- include('partials/nav') %>

<div class="container mx-auto p-5 m-5 w-75">
<p class="h1 text-center">Welcome!</p>
<p class="text-center">You're now logged in and can:
    <ul>
    <li><a href="/adoptableDogs"> Browse our list of adoptable dogs</a></li>
    <li><a href="/adoptedDogs">Check out our previously adopted dogs</a></li>
    <li><a href="/registerDog">Register a dog for adoption</a></p></li>
    </ul>
</div>

<%- include('partials/foot') %>