<%- include('partials/head') %>
  <%- include('partials/nav') %>

    <div class="container mx-auto p-5 m-5 w-50">
      <h4 class="text-center p-4">Login:</h4>
      <form id="loginForm" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <p class="text-center p-4">Don't have an account? <br>Create one <a href="/signup">here.</a></p>
    </div>

    <%- include('partials/foot') %>

      <script>


        const loginForm = document.getElementById('loginForm');

        loginForm.addEventListener('submit', async (e) => {
          e.preventDefault();

          const email = loginForm.email.value;
          const password = loginForm.password.value;

          try {
            const res = await fetch('/login', {
              method: 'POST',
              body: JSON.stringify({ email, password }),
              headers: { 'Content-Type': 'application/json' }
            })
          } catch (err) { console.log(err) };
        }
        );

      </script>